// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

h3 {
  font-size: 1.5rem;
}

img{
  width: 350px;
  height: auto;
  margin: 2% 5% 2% 40%;
}
p{
  margin-top: 5px ;
  margin-right: 5% ;
  margin-bottom: 2% ;
  margin-left: 40%;
}
body{
  background-color: #bf5700;
  color: #ffffff;
}
#title{
  font-size: 50px;
  font-family: Bebas Neue;
  color: white;
  border-bottom: white;
  border-top-left-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  padding-bottom: 10px;
}
h2{
  font-size: 30px;
  font-family: Bebas Neue
}
.subtitle{
  font-size: 30px;
  font-family: Bebas Neue;
  color: white;
}
p{
  font-size: 30px;
  font-family: Bebas Neue
}
h1{
  border-bottom: white;
  border-bottom-style: solid;
}